
header, nav, main, footer {
    max-width: 64rem;
    margin: auto;
}

header {
    background-image: url(../images/header3.jpg);
    background-position: left bottom;
}

nav ul li a {
    padding: .6rem 1rem;
}


div.cards div {
    flex-basis: 25%;
    }

    div.cards div img{
        margin: 20% 29% 0 29%; 
    }